@{
    ViewBag.Title = "Confirm Email";
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p><h2>@ViewBag.Title</h2></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto d-flex justify-content-center">
            <p>
                Thank you for confirming your email. Please
                @Html.ActionLink("Click Here", "Login", "Account",
                routeValues: null, htmlAttributes: new { id = "loginLink" })
                to Log In.
            </p>
        </div>
    </div>
</div>