@{
    ViewBag.Title = "Forgotten Password Confirmation";
}

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p><h2>@ViewBag.Title</h2></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto d-flex justify-content-center">
            Please check your email to reset your password.
        </div>
    </div>
</div>