
@{
    ViewBag.Title = "New User Registration";
}

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p><h2>@ViewBag.Title</h2></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto d-flex justify-content-center">
            Thank you for registering. Be on the lookout for a confirmation email,
            and when you receive the email click the link and log in!
        </div>
    </div>
</div>