@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LoginShared.cshtml";
}

<span class="login100-form-title p-b-33">
    @ViewBag.Title
</span>
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto d-flex justify-content-center">
        <p>
            Your password has been reset. Please
            <b>@Html.ActionLink("click here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</b>
            to Log In.
        </p>
    </div>
</div>
