
.allbtn {
    background-color: #00cae3;
    color: #fff;
}

.allbtn:hover {
    background-color:darkslateblue;
    color:aliceblue;
}

.txtBoxs {
    background-color: white;
    border: solid 1px grey;
    padding-left: 5px;
}

#avatarImg {
    position: absolute;
    margin-left: -40%;
    margin-top: -40%;
    height: 80%;
    width: 80%;
    left: 50%;
    top: 50%;
}
