
.allbtn {
    background-color: #9C27B0;
}

.allbtn:hover {
    color:black;
    background-color: #00BCD4;
}

.txtBoxs {
    background-color: white;
    border: solid 1px grey;
    padding-left: 5px
}